<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CandidateHr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>alogin</display-name>
    <servlet-name>alogin</servlet-name>
    <servlet-class>com.candidate.alogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alogin</servlet-name>
    <url-pattern>/alogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addhr</display-name>
    <servlet-name>addhr</servlet-name>
    <servlet-class>com.candidate.addhr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addhr</servlet-name>
    <url-pattern>/addhr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addjob</display-name>
    <servlet-name>addjob</servlet-name>
    <servlet-class>com.candidate.addjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addjob</servlet-name>
    <url-pattern>/addjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hlogin</display-name>
    <servlet-name>hlogin</servlet-name>
    <servlet-class>com.candidate.hlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hlogin</servlet-name>
    <url-pattern>/hlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applyjob</display-name>
    <servlet-name>applyjob</servlet-name>
    <servlet-class>com.candidate.applyjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyjob</servlet-name>
    <url-pattern>/applyjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>answer</display-name>
    <servlet-name>answer</servlet-name>
    <servlet-class>com.candidate.answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answer</servlet-name>
    <url-pattern>/answer</url-pattern>
  </servlet-mapping>
</web-app>